.container {
  width: 98%;
}

.input {
  width: 100%;
  cursor: pointer;
  margin: 0;
}

.labels {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin-top: 2px;
  pointer-events: none;
}

.label {
  font-size: 0.75rem;
  color: #999;
  width: 0;
  text-align: center;
}

.labelActive {
  color: var(--color-primary);
  font-weight: bold;
}
