.toggle {
  position: absolute;

  border-width: 2px;
}
.toggleFalse {
  color: var(--color-secondary);
  background-color: color-mix(in srgb, var(--color-primary) 80%, transparent);
  border-color: var(--color-secondary);
}
.toggleTrue {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}
.toggleError {
  color: var(--color-error);
  border-color: var(--color-error);
}
