.screenContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 16px;
  gap: 16px;
}

.paper {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 8px;

  background-color: var(--color-paper-background);
  border-radius: var(--border-radius);
}

.paperButton {
  flex: 4;
  min-width: 4em;

  border: var(--button-border-width) solid var(--color-primary);
  color: var(--color-primary);
  background-color: var(--color-paper-background);
}

.paperIconButton {
  border: none;
  color: var(--color-primary);
  background-color: var(--color-paper-background);
}

.paperInput {
  flex: 4;
}
