:root {
  --color-primary: #000f5d; /* Indiana Flag Blue */
  --color-primary-contrastText: #fff;
  --color-secondary: #ffb900; /* Indiana Flag Gold */
  --color-secondary-contrastText: #000;
  --color-background: #f5e6a3; /* Light Yellow */
  --color-background-contrastText: #000;
  --color-paper-background: #dddddd;
  --color-paper-background-contrastText: #000;
  --color-error: #d32f2f;
  --color-error-contrastText: #fff;

  --text-font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  --text-h1-size: 5rem;
  --text-h2-size: 1.5rem;
  --text-body-size: 1.3em;
  --text-label-size: 0.9em;

  --grid-border-margin-width: 20px;
  --grid-border-border-width: 5px;

  --button-border-width: 1px;

  --border-radius: 4px;

  --hover-dim: brightness(0.8);

  --input-height: calc(37.6px + 8px);

  --z-index-tooltip: 100;
  --z-index-modal: 99;
  --z-index-snackbar: 98;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}
