.menuButton {
  background-color: var(--color-secondary);
  color: var(--color-secondary-contrastText);
}

.appHeading {
  text-align: center;
  color: var(--color-primary-contrastText);
  margin-bottom: 0;
  font-family: var(--text-font-family);
  font-size: var(--text-h1-size);
  font-weight: 300;
}

.appSubheading {
  font-family: var(--text-font-family);
  color: var(--color-primary-contrastText);
  margin-bottom: 1em;
}

.buttonsFlex {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.overallFlex {
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
