.container {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--color-primary);
  border-radius: var(--border-radius);
  user-select: none;
}

.label {
  font-family: var(--text-font-family);
  font-size: var(--text-body-size);
  font-weight: 700;
  text-align: center;
  padding: 4px 0;
  background-color: var(--color-background);
}

.body {
  display: flex;
  flex: 1;
  position: relative;
}

.body button {
  font-size: clamp(0.4rem, 4cqw, 1.25rem);
  padding: clamp(2px, 0.5cqw, 6px) clamp(4px, 1cqw, 16px);
  min-width: 0;
}

.labelBorder {
  border-bottom: 2px solid var(--color-primary);
}

.noOuterBorder {
  border: none;
}
