.buttonFalse {
  color: var(--color-primary);
  border: var(--button-border-width) solid var(--color-primary);
  background-color: var(--color-background);
}

.buttonTrue {
  color: var(--color-primary-contrastText);
  border: var(--button-border-width) solid transparent;
  background-color: var(--color-primary);
}

.buttonDisabled {
  color: var(--color-primary-contrastText);
  border: var(--button-border-width) solid gray;
  background-color: gray;
  opacity: 0.6;
  cursor: not-allowed;
}
