.startingPositionContainerContainer {
  height: 100%;
}
.startingPositionContainerContainerError {
  height: calc(100% - 2em);
}

.startingPositionContainer {
  aspect-ratio: 1700 / 1650;
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

.startingPositionImage {
  width: 100%;
  height: 100%;
  transform: scaleX(-1);
}

.startingPositionLeftA {
  left: 8%;
  top: 13%;
  width: 20%;
  height: 27%;
}

.startingPositionLeftB {
  left: 8%;
  top: 40%;
  width: 20%;
  height: 27%;
}

.startingPositionLeftC {
  left: 8%;
  top: 67%;
  width: 20%;
  height: 27%;
}

.startingPositionRightA {
  right: 8%;
  top: 59%;
  width: 20%;
  height: 28%;
}

.startingPositionRightB {
  right: 8%;
  top: 32%;
  width: 20%;
  height: 27%;
}

.startingPositionRightC {
  right: 8%;
  top: 5%;
  width: 20%;
  height: 27%;
}

.startingPositionError {
  height: 2em;
  padding: 4px 8px;

  border: var(--button-border-width) solid var(--color-error);
  border-radius: var(--border-radius);
  color: var(--color-error);
  background-color: #fff;
  font-family: var(--text-font-family);
  font-size: var(--text-label-size);
}
