.startingPositionContainer {
  aspect-ratio: 3906 / 3816;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  overflow: hidden;
}

.startingPositionImage {
  width: 200%;
  height: 100%;
}

.startingPositionOutpost {
  left: 30%;
  top: 66.67%;
  width: 20%;
  height: 33.33%;
}
.startingPositionMid {
  left: 30%;
  top: 33.33%;
  width: 20%;
  height: 33.34%;
}
.startingPositionDepot {
  left: 30%;
  top: 0%;
  width: 20%;
  height: 33.33%;
}


.startingPositionLeftA {
  left: 30%;
  top: 66.67%;
  width: 20%;
  height: 33.33%;
}

.startingPositionLeftB {
  left: 30%;
  top: 33.33%;
  width: 20%;
  height: 33.34%;
}

.startingPositionLeftC {
  left: 30%;
  top: 0%;
  width: 20%;
  height: 33.33%;
}

.startingPositionRightA {
  right: 30%;
  top: 0%;
  width: 20%;
  height: 33.33%;
}

.startingPositionRightB {
  right: 30%;
  top: 33.33%;
  width: 20%;
  height: 33.34%;
}

.startingPositionRightC {
  right: 30%;
  top: 66.67%;
  width: 20%;
  height: 33.33%;
}

.startingPositionError {
  height: 2em;
  padding: 4px 8px;

  border: var(--button-border-width) solid var(--color-error);
  border-radius: var(--border-radius);
  color: var(--color-error);
  background-color: #fff;
  font-family: var(--text-font-family);
  font-size: var(--text-label-size);
}
