.contentColumn {
  flex-direction: column;
}

.modeToggleRow {
  display: flex;
  justify-content: center;
}

.viewContainer {
  flex: 1;
  width: 100%;
  min-height: 0;
}

.fuelCounterRow {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.fuelCounterMain {
  flex: 3;
}

.fuelCounterCycles {
  flex: 1.5;
}
